<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Url:</b>
  <a href="<%= @post.url %>"><%= @post.url %></a>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
